<html>
        <head>
            <title>퉁배기의 파이썬</title>
        </head>
        <body>
            <div>
                <h1><a href="">Mcnok's Python</a></h1>
            </div>

            <div>
                <p>published: 17.01.2017, 20:20</p>
                <h2><a href="">My First Post</a></h2>
                <p>해냈다!! 해냈어~!</p>
            </div>

            <div>
                <p>published: 18.01.2017, 12:14</p>
                <h2><a href="">우리는 YG Family</a></h2>
                <p>Uh! 너 이제 준비해라<br>
					Uh! 너 이제 각오해라</p>
            </div>
        </body>
    </html>